.userProfile {
  display: flex;
  flex-direction: column;
  border: 3px solid black;
  border-radius: 10px;
  align-items: center;
  justify-content: space-between;
  width: 400px;
}
.userData {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}
.userImg {
  border-radius: 50%;
  background-color: rgba(58, 57, 57, 0.89);
  margin: 15px;
  width: 150px;
  height: 150px;
}
.userName {
  color: black;
  font-size: 24px;
  font-weight: 700;
  margin: 0;

  padding: 0;
}

.userTag {
  color: gray;
  font-size: 18px;
  margin: 0;
  padding: 0;
}
.userLocation {
  color: gray;
  font-size: 18px;
  margin: 0 0 10px 0;
  padding: 0;
}
.userStats {
  margin: 0;
  padding: 0;
  justify-content: space-between;
  align-items: stretch;
  height: 100px;
  width: 100%;
  list-style: none;
  display: flex;
  background-color: rgba(128, 128, 128, 0.24);
}

.statsItem {
  border: 1px solid gray;
  width: 33%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
.statsTitle {
  font-size: 18px;
  font-weight: 500;
}
.statsValue {
  font-size: 18px;
  font-weight: 800;
}
